{% extends '@rss-extension/base.twig' %}
{% block main %}
<?xml version="1.0" encoding="UTF-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ config.get('general/sitename') }}</title>
    <subtitle>{{ config.get('general/payoff') }}</subtitle>
    <link href="{{ url('homepage') }}"/>
    <language>{{ htmllang()|lower }}</language>
    <generator>Bolt</generator>
    <generator uri="http://bolt.cm/" version="4.0">Bolt CMS</generator>
    {%- for record in records %}
        <entry>
            <title xml:lang="{{ htmllang() }}">{{ record|title|striptags }}</title>
            <link href="{{ url('record', { 'contentTypeSlug': record.ContentTypeSingularSlug, 'slugOrId': record.slug } ) }}"/>
            <published>{{ record.publishAt|date("r") }}</published>
            <author>
                <name>{{ record.author.displayname|default('unknown') }}</name>
                <email>{{ record.author.email|default('unknown') }}</email>
            </author>
            <id>{{ record.ContentTypeSingularSlug }}-{{ record.id }}</id>
            {% for type, taxonomies in record|taxonomies %}
                {% for taxonomy in taxonomies %}
                    <category domain="{{ type }}"><![CDATA[ {{ taxonomy.name }} ]]></category>
                {% endfor %}
            {% endfor %}
            <summary xml:lang="{{ htmllang() }}">
                {{ record|excerpt(100) }}
            </summary>
            <content xml:lang="{{ htmllang() }}">
                {{ record|rss('teaser, content, body', content_length, true) }}
            </content>
            {% if record|image is not empty %}
                <link rel="image" href="{{ absolute_url(thumbnail(record, 600, 400)) }}"/>
                <link rel="enclosure" href="{{ absolute_url(thumbnail(record, 600, 400)) }}"/>
            {% endif %}
        </entry>
    {%- endfor %}
</feed>
{% endblock %}
