{% extends '@rss-extension/base.twig' %}
{% block main %}
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ config.get('general/sitename') }}</title>
        <atom:link href="{{ canonical('homepage') }}" rel="self" type="application/rss+xml"/>
        <link>{{ canonical('homepage') }}</link>
        {% if config.get('general/payoff') is defined %}
            <description>{{ config.get('general/payoff') }}</description>
        {% endif %}
        <language>{{ htmllang()|lower }}</language>
        <generator>Bolt</generator>
        {% for record in records %}
            <item>
                <title>{{ record|title|striptags }}</title>
                <link>{{ url('record', { 'contentTypeSlug': record.ContentTypeSingularSlug, 'slugOrId': record.slug } ) }}</link>
                <pubDate>{{ record.publishAt|date("r") }}</pubDate>
                <author>{{ record.author.email|default('unknown') }} ({{ record.author.displayname|default('unknown') }})</author>
                <guid isPermaLink="false">{{ record.ContentTypeSingularSlug }}/{{ record.id }}</guid>
                {% for type, taxonomies in record|taxonomies %}
                    {% for taxonomy in taxonomies %}
                        <category domain="{{ type }}"><![CDATA[ {{ taxonomy.name }} ]]></category>
                    {% endfor %}
                {% endfor %}
                <description>
                    {{ record|excerpt(content_length)|rss }}
                </description>
                {% if record|image is not empty %}
                    <image>{{ absolute_url(thumbnail(record, 600, 400)) }}</image>
                    <enclosure url="{{ absolute_url(thumbnail(record, 600, 400)) }}" type="image/jpeg" />
                {% endif %}
            </item>
        {% endfor %}
    </channel>
</rss>
{% endblock %}